<head>  
        <link rel="stylesheet" href="/public/dash-style.css">
    </head>
    <body>
        <div class ="home">
            <div class="window">
                    <div class="avtar" style="background-image: url('<%=avatar%>')"></div>
                    <div class = "info">
                        <h2 class="username"> <%=user.name %></h2>
                        <h2 class="email"> <%= user.email %></h2>
                        <h2 class="phone"> <%=user.phoneno %></h2>
                    </div>
                    <div class="delete">
                        <form action="/logout" method ="post">
                        <button class="submit" id="logout-btn">LOGOUT</button>
                        </form>
                    </div>
            </div>
        </div>
    </body>