<head>  
        <link rel="stylesheet" href="/public/dash-style.css">
    </head>
    <body>
        <div class ="home">
            <div class="window">
                <div class="name">
                    <div class="avtar" style="background-image: url('<%=avatar%>')"></div>
                    <h2 class="username"> <%="hello "+ user.name %></h2>
                    <h2 class="email"> <%= user.email %></h2>
                </div>
            </div>
        </div>
    </body>