@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
  margin : 0;
  padding : 0;
  font-family: 'Quicksand', sans-serif;
}
.home{
  position : absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width :100%;
  height : 100%;
  background-color: rgb(44, 44, 44);
}
.window{
  display: flex;
  flex-direction: column;
  width : 20%;
  height : 40%;
  background-color : white;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.avtar {
  width : 100px;
  height : 100px;
  border-radius : 50%;
  box-shadow : 0 0 1px 1px rgba(0, 0, 0, 0.1);
  position : relative;
  margin-bottom: 20px;

  background-position: center;
  background-size: cover;
}
.username{
  text-transform: capitalize;
  margin-bottom: 8px;
}
.email{
  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 8px;
}
.phone{
  font-size: 12px;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.submit{
  width : 70px;
  height : 30px;
  background-color : transparent;
  border : 2px solid rgb(128, 128, 128);     
  color : rgb(61, 61, 61);   
  transition: 0.2s;
}
.submit:hover {
  transform: scale(1.02);
  transition: 0.2s;
}